main {
   padding: 0 50px;
}

header {
   background-color: rgba(221, 233, 235, 0.61);
   padding-left: 50px;
}

.guide-li {
   list-style: inside;
   padding-top: 10px;
}

form {
   padding-top: 50px;
   display: flex;
   flex-direction: column;
}

.dropdown {
   padding-top: 10px;
}

h1 {
   padding-top: 20px;
}

footer {
   text-align: center;
}

.main-box {
   margin-bottom: 50px;
}

.downloadLink {
   margin-top: 20px;
}

.download {
   width: 100%;
}
